.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
}

.nav-links a:hover {
  color: var(--primary-color);
}
.theme-button {
  background: none;
  border: 1px solid var(--primary-color);
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 6px;
  color: var(--text-color);
}